.about-banner-container {
    padding: 0;
    background-size: cover;
    overflow: hidden;

    h4 {
        color: var(--color-title);
        position: relative;
        display: inline-block;
        margin-top: 20px;

        &::after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: var(--color-title);
        }
    }

    .__moving-text {
        animation: textMoving 180s linear infinite;
        color: white;
        font-size: 50px;
        font-weight: 700;
        position: relative;
    }

    @keyframes textMoving {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-600%);
        }
    }
}