.library-container {
    padding: 40px 0;

    h4 {
        color: #189FE0;
        position: relative;
        display: inline-block;
        // margin-bottom: 40px !important;
        font-size: 18px;
        text-transform: uppercase;

        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: #189FE0;
        }
    }

    .button {
        display: inline-block;
        padding: 10px 16px;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0a2540;
            border-radius: 5px;
            z-index: -2;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            /* Bắt đầu từ bên phải */
            width: 0%;
            height: 100%;
            background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
            transition: all 0.3s;
            border-radius: 5px;
            z-index: -1;
        }

        &:hover {
            color: #0a2540;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);

            &:before {
                width: 100%;
                // left: 0;
                // right: auto;
            }
        }
    }

    .child-item {
        position: relative;
        overflow: hidden;

        .content {
            // border: 1px solid #ccc;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            height: 650px;
            position: relative;
            width: 100%;
            z-index: 5;
            margin-bottom: 30px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -3px -3px 5px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
            }

            h5 {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-top: 20px;
                overflow: hidden;
                font-weight: bold;
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                margin-top: 20px;
                font-size: 20px;
                line-height: 1.5;
                overflow: hidden;
            }

            div {
                padding: 0px 20px;
            }
        }
    }
}