.section-footer {
    background-color: #f5faff;
    width: 100%;
    height: auto;
    padding: 30px 0;
    color: white;
    font-size: 15px;

    .up {
        span {
            font-size: 17px;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
        }

        p {
            margin: 50px 0;
            line-height: 3.0;

            a {
                cursor: pointer;
                font-size: 16px;
                color: black;

                &:hover {
                    color: #00aeef
                }
            }
        }
    }

    .down {
        color: black;
        font-size: 16px;

        .social-network {
            i {
                font-size: 20px;

                &:hover {
                    color: #00aeef;
                }
            }
        }
    }
}