.form-container {
    font-family: Montserrat, sans-serif;
    // background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
    height: auto;
    padding: 40px 5px;

    h4 {
        color: #189FE0;
        position: relative;
        display: inline-block;
        margin-bottom: 40px !important;
        font-size: 18px;
        text-transform: uppercase;

        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: #189FE0;
        }
    }

    .left {
        color: black;
        border: 1px solid #ccc;
        // background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
        padding: 40px 20px;

        .network {
            border-top: 1px solid black;
            padding-top: 10px;

            .item {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: rgb(0, 0, 0);
                background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    color: rgb(82, 204, 220);
                    background: #0a2540;
                }
            }
        }
    }

    .right {
        .button {
            display: inline-block;
            padding: 10px 16px;
            border-radius: 5px;
            color: #fff;
            font-size: 1rem;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            text-decoration: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #0a2540;
                border-radius: 5px;
                z-index: -2;
            }
        }
    }
}