@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

.header-container {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    select {
        outline: none;
        border: 1px solid #ccc !important;
        width: fit-content;
        margin-left: 30px;
        cursor: pointer;

        &:hover {
            box-shadow: none;
            color: #189fe0;

            option {
                color: black;
            }
        }
    }

    .form-select {
        &:focus {
            box-shadow: none;
        }
    }

    .container {
        display: flex;
        align-items: center !important;
        height: 100%;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 250px;

            img {
                max-height: 70px;
            }
        }

        .main-menu {
            z-index: 100;

            .main-nav {
                .menu-main-menu {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 70px;

                    .sub-menu {
                        width: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        height: 100%;
                        cursor: pointer;

                        &:hover {
                            ul {
                                display: block;
                                top: 70px;
                                animation: floatIn 0.5s ease;
                            }
                        }

                        span {
                            text-decoration: none;

                            &:hover {
                                color: var(--color-hover);
                            }
                        }

                        .a-icon {
                            text-decoration: none;
                            font-size: 16px;

                            &:hover {
                                color: var(--color-hover);

                                &::after {
                                    // border-bottom: 2px solid #189fe0;
                                    // border-right: 2px solid #189fe0;
                                }
                            }

                            &::after {
                                content: '';
                                display: inline-block;
                                margin-left: 8px;
                                border-bottom: 2px solid;
                                border-right: 2px solid;
                                position: relative;
                                width: 8px;
                                top: -3px;
                                height: 8px;
                                transform: rotateZ(45deg);
                            }
                        }

                        ul {
                            list-style: none;
                            display: none;
                            position: absolute;
                            top: 65px;
                            left: 0px;
                            background-color: #f9f7f7;
                            width: 350px;
                            padding: 0;
                            border-end-start-radius: 5px;
                            border-end-end-radius: 5px;
                            padding: 20px 20px 20px 20px;

                            li {
                                padding-left: 30px;
                                width: 100%;
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                position: relative;
                                overflow: hidden;

                                span {
                                    transform: translateX(-20px);
                                    position: relative;
                                    transition: transform 0.3s ease;
                                    padding: 10px 0;
                                    font-weight: 600;
                                    width: 100%;
                                    text-decoration: none;

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        display: block;
                                        opacity: 0;
                                        height: 50%;
                                        top: 50%;
                                        left: 0px;
                                        transform: translateX(-20px);
                                        // transform: translateY(-50%);
                                        border-right: 1px solid #189fe0;
                                        margin-right: 10px;
                                        transition: all 0.3s ease;
                                    }
                                }

                                &:hover {
                                    span {
                                        transform: translateX(0);
                                        transition: transform 0.3s ease;
                                        color: var(--color-hover);

                                        &::after {
                                            content: '';
                                            position: absolute;
                                            display: block;
                                            opacity: 1;
                                            height: 50%;
                                            top: 50%;
                                            left: -10px;
                                            transform: translateX(-20px);
                                            transform: translateY(-50%);
                                            border-right: 1px solid var(--color-hover);
                                            margin-right: 10px;
                                            transition: all 0.3s ease;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .language {
            select {
                display: flex;
                width: 138px;
                // margin: 0 20px;
            }
        }
    }
}

@keyframes floatIn {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.left-content {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 101;
    // position: sticky;
    color: var(--color-text);

    &:hover {
        color: var(--color-hover);
    }
}

.home-menu {
    position: fixed;
    top: -15px;
    left: -100%;
    width: 100%;
    height: 1000px !important;
    z-index: 100;
    transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 100px;
    padding-bottom: 400px;
    overflow-y: auto;

    .left-menu {
        .menu-main-menu {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            width: 500px;
            left: 0;
            top: 80px;
            height: 100%;
            overflow-y: auto;
            width: 100%;

            .sub-menu {
                position: relative;
                margin-bottom: 10px;
                margin-top: 20px;

                >span {
                    text-decoration: none;
                    display: block;
                    padding: 10px 20px;
                    transition: background-color 0.3s;
                    color: black;
                    cursor: pointer;
                    font-weight: bold;

                    &:hover {
                        color: #189fe0;
                    }
                }

                >.a-icon {
                    text-decoration: none;
                    display: block;
                    padding: 10px 20px;
                    transition: background-color 0.3s;
                    cursor: pointer;
                    font-weight: bold;

                    &::after {
                        content: '';
                        display: block;
                        margin-left: 8px;
                        border-bottom: 2px solid;
                        border-right: 2px solid;
                        width: 8px;
                        height: 8px;
                        transform: rotateZ(45deg);
                        float: right;
                        transition: border-color 0.3s;
                    }

                    &:hover {
                        color: var(--color-hover) !important;

                        &::after {
                            border-bottom: 2px solid var(--color-hover);
                            border-right: 2px solid var(--color-hover);
                        }
                    }
                }

                .sub-menu-ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    background-color: #f2f2f2;
                    z-index: 10;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.8s ease-in-out;
                    position: relative;
                    background-color: var(--color-child-menu);

                    .sub-menu-li {
                        padding: 10px 20px;
                        cursor: pointer;

                        >span {
                            text-decoration: none;
                            display: block;
                            transition: background-color 0.3s;
                        }

                        &:hover {
                            color: var(--color-hover) !important;
                        }
                    }

                    &.active {
                        max-height: 300px;
                        box-shadow:
                            0 0 1px #00aeef,
                            inset 0 1px 2px rgba(41, 131, 197, 0.25);
                    }
                }
            }
        }
    }

    &.active {
        transform: translateX(100%);
        opacity: 1;
        visibility: visible;
    }

    &.unactive {
        transform: translateX(0);
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 480px) {
    .logo {
        img {
            max-width: 50%;
        }
    }
}

.hidden {
    opacity: 0;
}

.selection {
    width: 140px !important;
}