.lastest-news-container {
    padding: 40px 0;
    height: auto;

    h4 {
        color: #189FE0;
        position: relative;
        display: inline-block;
        margin-bottom: 20px !important;

        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: #189FE0;
        }
    }

    h1 {
        font-weight: bold;
    }

    .menu-news {
        height: 300px;

        .menu-button {
            gap: 20px;

            button {
                width: 90px;
                padding: 5px 0;
                font-weight: bold;
                font-size: 15px;
                border-radius: 6px;
                background-color: transparent;
            }
        }
    }

    .list-new {

        .child-new-left {
            // padding-top: 10px;
            // padding-bottom: 0;

            .child {
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                height: 720px;

                .child-img {
                    background-size: cover;
                    background-position: center;
                    height: 100%; // hoặc chiều cao tùy ý
                    width: 100%;
                    position: relative;
                    transition: all 0.2s ease-in-out;
                }

                .blur {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.1));
                    // z-index: 100000;
                }

                &:hover {
                    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2), -8px -8px 25px rgba(0, 0, 0, 0.2);

                    .child-img {
                        transform: scale(1.05);
                    }

                    .child-text {
                        label {
                            bottom: 40px;
                            opacity: 1;

                            i {
                                margin-left: 10px;
                            }
                        }
                    }
                }

                .child-text {
                    color: white;

                    label {
                        position: absolute;
                        bottom: 0px;
                        right: 40px;
                        font-size: 16px !important;
                        opacity: 0;
                        transition: all 0.2s ease;
                        cursor: pointer;

                        i {
                            transition: all 0.2s ease 0.2s;
                        }
                    }

                    span {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        position: absolute;
                        bottom: 50px;
                        cursor: pointer;
                        font-size: 26px;
                        font-weight: bold;
                        width: 80%;

                        &:hover {
                            color: #189FE0;
                        }
                    }

                    a {
                        position: absolute;
                        bottom: 40px;
                    }
                }
            }
        }

        .child-new-right {
            // border: 1px solid red;
            // padding: 10px 10px;

            gap: 15px;

            .child {
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                height: 353px;

                // padding: 10px 10px;
                .child-img {
                    background-size: cover;
                    background-position: center;
                    height: 100%; // hoặc chiều cao tùy ý
                    width: 100%;
                    position: relative;
                    transition: all 0.2s ease-in-out;
                }

                .blur-green {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top, rgba(42, 230, 233, 0.6), rgba(0, 0, 0, 0.1));
                    // z-index: 100000;
                }

                .blur-blue {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top, rgba(66, 120, 207, 0.6), rgba(0, 0, 0, 0.1));
                    // z-index: 100000;
                }

                .blur-pink {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top, rgba(215, 80, 174, 0.6), rgba(0, 0, 0, 0.1));
                }

                .child-text {
                    color: white;

                    label {
                        position: absolute;
                        bottom: 0px;
                        right: 40px;
                        font-size: 16px !important;
                        opacity: 0;
                        transition: all 0.2s ease;
                        cursor: pointer;

                        i {
                            transition: all 0.2s ease 0.2s;
                        }
                    }

                    span {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        position: absolute;
                        bottom: 50px;
                        cursor: pointer;
                        font-size: 26px;
                        font-weight: bold;
                        width: 80%;

                        &:hover {
                            color: #189FE0;
                        }
                    }

                    a {
                        position: absolute;
                        bottom: 40px;
                        cursor: pointer;
                    }
                }

                &:hover {
                    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.2), -8px -8px 25px rgba(0, 0, 0, 0.2);

                    .child-img {
                        transform: scale(1.05);
                    }

                    .child-text {
                        label {
                            bottom: 40px;
                            opacity: 1;

                            i {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .child-new-left {
        .child {
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            height: 350px !important;
        }
    }
}