.video-gallery-container {
    padding: 40px 0;

    h4 {
        color: var(--color-title);
        position: relative;
        display: inline-block;
        // margin-bottom: 40px !important;
        font-size: 18px;
        text-transform: uppercase;

        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: var(--color-title);
        }
    }

    .photo-child {
        cursor: pointer !important;

        img {
            width: 100%;
            // max-height: 250px;
            aspect-ratio: 16/9;
        }

        span {
            font-size: 16px;
            cursor: pointer;

            &:hover {
                color: #189FE0;
            }
        }
    }

    .button {
        display: inline-block;
        padding: 10px 16px;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-decoration: none;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0a2540;
            border-radius: 5px;
            z-index: -2;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            /* Bắt đầu từ bên phải */
            width: 0%;
            height: 100%;
            background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
            transition: all 0.3s;
            border-radius: 5px;
            z-index: -1;
        }

        &:hover {
            color: #0a2540;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);

            &:before {
                width: 100%;
                // left: 0;
                // right: auto;
            }
        }
    }


}

.modal-content {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    max-height: fit-content !important;
}