.section-listjob {
    height: auto;
    font-family: Montserrat, sans-serif;
    padding: 40px 0 50px 0;
    background-color: #f6f9fc;

    h4 {
        color: #189FE0;
        position: relative;
        display: inline-block;
        // margin-bottom: 20px !important;

        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: #189FE0;
        }
    }

    h1 {
        font-weight: bold;
    }

    .search-box {
        border: 1px solid white;
        padding: 5px 0px;
        width: fit-content;
        border-radius: 8px;
        background-color: white;
        font-size: 18px;
        // right: 30%;

        .child {
            padding: 10px;
            // border: 1px solid red;
        }

        .fa-times-circle {
            opacity: 0.4;
        }

        input {
            border: none;
            outline: none;
            width: 180px;
        }
    }

    .button {
        display: inline-block;
        padding: 10px 16px;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0a2540;
            border-radius: 5px;
            z-index: -2;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            /* Bắt đầu từ bên phải */
            width: 0%;
            height: 100%;
            background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
            transition: all 0.3s;
            border-radius: 5px;
            z-index: -1;
        }

        &:hover {
            color: #0a2540;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);

            &:before {
                width: 100%;
                // left: 0;
                // right: auto;
            }
        }
    }


    .child-item {
        position: relative;
        overflow: hidden;

        .content {
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
            height: 550px;
            position: relative;
            width: 100%;
            z-index: 5;
            margin-bottom: 30px;

            img {
                width: 100%;
            }

            h5 {
                margin-top: 30px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                margin-top: 20px;
                font-size: 20px;
                line-height: 1.5;
                overflow: hidden;
            }

            div {
                padding: 0px 20px;
            }

            .content2 {
                background-color: #0a2540;
                color: white;
                padding: 20px 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 550px;
                transform: translateY(100%);
                opacity: 0;
                transition: all 0.4s ease;
                border-radius: 10px;
                z-index: 10;

                .button {
                    display: inline-block;
                    padding: 10px 16px;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 1rem;
                    transition: all 0.3s;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    text-decoration: none;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #0c8ac5;
                        border-radius: 5px;
                        z-index: -2;

                    }

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        /* Bắt đầu từ bên phải */
                        width: 0%;
                        height: 100%;
                        background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
                        transition: all 0.3s;
                        border-radius: 5px;
                        z-index: -1;
                    }

                    &:hover {
                        color: #0a2540;
                        box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);

                        &:before {
                            width: 100%;
                            // left: 0;
                            // right: auto;
                        }
                    }
                }

                img {
                    width: 10px;
                    height: 10px;
                }

                h5 {
                    margin-top: 10px;
                    font-size: 25px;
                    font-weight: bold;
                    white-space: normal;
                }

                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 7;
                    -webkit-box-orient: vertical;
                    margin-top: 20px;
                    font-size: 20px;
                    line-height: 1.5;
                    overflow: hidden;
                }
            }
        }

        &:hover .content2 {
            transform: translateY(0);
            opacity: 1;
        }
    }

}