.section-media {
    padding: 40px 10px;
    font-family: Montserrat, sans-serif;

    h4 {
        color: #189FE0;
        position: relative;
        display: inline-block;
        margin-bottom: 20px !important;

        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: #189FE0;
        }
    }

    h1 {
        font-weight: bold;
        font-size: 40px !important;
    }

    .left {
        padding: 30px 0;
        // border: 1px solid red;
        overflow: hidden;

        img {
            width: 100%;
            margin-bottom: 20px;
            transition: all 0.2s ease-in-out;
            border-radius: 10px;

            &:hover {
                transform: scale(1.03);
            }
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
            font-weight: bold;
        }

        .date {
            padding: 10px 0;

            span {
                opacity: 0.7;
            }
        }

        p {
            font-weight: bold;
            font-style: italic;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .right {
        // border: 1px solid red;
        padding: 30px 30px;

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
            font-weight: bold;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .child-post {
            border-bottom: 1px solid #ccc;



            img {
                width: 100%;
                margin-bottom: 20px;
                transition: all 0.2s ease-in-out;
                border-radius: 10px;

                &:hover {
                    transform: scale(1.03);
                }
            }


        }

        .button {
            display: inline-block;
            padding: 10px 16px;
            border-radius: 5px;
            color: #fff;
            font-size: 1rem;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            text-decoration: none;
            float: right;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #0a2540;
                border-radius: 5px;
                z-index: -2;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                /* Bắt đầu từ bên phải */
                width: 0%;
                height: 100%;
                background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
                transition: all 0.3s;
                border-radius: 5px;
                z-index: -1;
            }

            &:hover {
                color: #0a2540;
                box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);

                &:before {
                    width: 100%;
                    // left: 0;
                    // right: auto;
                }
            }
        }
    }
}