.new-detail-container {
    padding: 40px 0;
    background-color: #f5faff;

    .left {
        height: auto;
        background-color: #ffffff;
        border-radius: 15px;

        .child {
            border-radius: 10px;
            height: 100%;

            .date {
                border-bottom: 1px solid #ccc;

                span {
                    font-size: 12px;

                    i {
                        font-weight: bold;
                    }
                }
            }

            .content {
                border-bottom: 1px solid #ccc;
            }

            .bottom {
                font-size: 18px;

                .social-icon {
                    gap: 20px;

                    i {
                        color: #898989;
                        cursor: pointer;

                        &:hover {
                            color: #189fe0;
                        }
                    }
                }
            }

            h1 {
                font-size: 35px;
                font-weight: bold;
                line-height: 1.5;
            }

            p {
                font-size: 16px;
            }

            img {
                width: 100%;
            }
        }
    }

    .right {
        height: auto;

        margin-left: 2%;


        .child {
            border-radius: 10px;
            height: 100%;
            overflow: visible;
            // position: relative;

            .up {
                background-color: #0a2540;
                height: 200px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;

                .logo {
                    height: 75px;
                    width: 75px;
                    background-position: center center;
                    background-size: cover;
                    border-radius: 50%;
                }

                span {
                    font-size: 18px;
                    font-weight: bolder;
                    color: #ffffff;
                }
            }

            .down {
                position: sticky;
                top: 100px;
                z-index: 10;
                background-color: #ffffff;

                .share {
                    border-bottom: 1px solid #ccc;

                    span {
                        font-size: 18px;
                        font-weight: bold;
                    }

                }

                .social-icon {
                    gap: 20px;
                    border-bottom: 1px solid #ccc;

                    i {
                        color: #898989;
                        cursor: pointer;

                        &:hover {
                            color: #189fe0;
                        }
                    }
                }

                button {
                    font-size: 12px;
                    font-weight: bold;
                    color: white;
                    background-color: #ff7a59;
                }
            }
        }
    }
}