.project-container {
    background-color: #f6f9fc;
    height: auto;
    padding: 40px 0;

    h4 {
        color: var(--color-title);
        position: relative;
        display: inline-block;
        margin-bottom: 20px !important;
        text-transform: uppercase;

        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: var(--color-title);
        }
    }

    .child-item {
        position: relative;
        overflow: hidden;

        .content {
            // border: 1px solid #ccc;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            height: 650px;
            position: relative;
            width: 100%;
            z-index: 5;
            margin-bottom: 30px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -3px -3px 5px rgba(0, 0, 0, 0.1);
            position: relative;

            .company-logo {
                position: absolute;
                bottom: 20px;

                .logo {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                    border: 1px solid #189FE0;
                }
            }

            img {
                width: 100%;
                aspect-ratio: 16/10;
            }

            h5 {
                margin-top: 30px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 7;
                -webkit-box-orient: vertical;
                margin-top: 20px;
                font-size: 20px;
                line-height: 1.5;
                overflow: hidden;
            }

            div {
                padding: 0px 20px;
            }

            .content2 {
                background-color: #0a2540;
                color: white;
                padding: 20px 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 650px;
                transform: translateY(100%);
                opacity: 0;
                transition: all 0.4s ease;
                border-radius: 10px;
                z-index: 10;

                .button {
                    display: inline-block;
                    padding: 10px 16px;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 1rem;
                    transition: all 0.3s;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    text-decoration: none;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid transparent;
                    cursor: pointer;

                    img {
                        width: 10px;
                        height: 10px;
                        transition: all 0.2s ease;
                        margin-left: 10px;
                    }

                    &:hover {
                        border: 1px solid white;

                        img {
                            margin-left: 20px;
                        }
                    }
                }

                .logo {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                    border: 1px solid #189FE0;
                }



                h5 {
                    margin-top: 10px;
                    font-size: 25px;
                    font-weight: bold;
                    white-space: normal;
                }

                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 7;
                    -webkit-box-orient: vertical;
                    margin-top: 20px;
                    font-size: 20px;
                    line-height: 1.5;
                    overflow: hidden;
                }
            }
        }

        &:hover .content2 {
            transform: translateY(0);
            opacity: 1;
        }
    }
}