.related-news-container {
    padding: 40px 0;

    h3 {
        font-size: 35px;
        font-weight: bold;
    }

    .button {
        display: inline-block;
        padding: 10px 16px;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-decoration: none;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0a2540;
            border-radius: 5px;
            z-index: -2;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%;
            height: 100%;
            background-image: linear-gradient(to right, rgb(82, 204, 220), rgb(192, 192, 224));
            transition: all 0.3s;
            border-radius: 5px;
            z-index: -1;
        }

        &:hover {
            color: #0a2540;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);

            &:before {
                width: 100%;
            }
        }
    }

    .child-item {
        position: relative;

        ul {
            list-style: none;
            display: flex;
            padding: 0;

            li {
                cursor: pointer;

                &:hover {
                    color: black;
                }
            }
        }

        .content {
            border-radius: 10px;
            height: 550px;
            position: relative;
            width: 100%;
            z-index: 5;
            margin-bottom: 30px;
            border: 1px solid #eaeaea;

            img {
                width: 100%;
                height: 200px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            h5 {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-top: 10px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;

                &:hover {
                    color: #189FE0;
                }
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 6 !important;
                -webkit-box-orient: vertical;
                margin-top: 10px;
                font-size: 20px;
                line-height: 1.5;
                overflow: hidden;
            }

            span {
                font-size: 16px;
            }

            .date-upload {
                position: absolute;
                bottom: 30px;
            }

            div {
                padding: 0px 20px;
            }

            &:hover {
                box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.1), -4px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 12px rgba(0, 0, 0, 0.1);
            }
        }

    }
}