.section-testimonials {
    font-family: Montserrat, sans-serif;
    padding: 40px 0;

    h4 {
        color: #189FE0;
        position: relative;
        display: inline-block;
        margin-bottom: 20px !important;

        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: #189FE0;
        }
    }

    h1 {
        font-weight: bold;
        font-size: 40px !important;
    }

    .left {
        padding: 0 0;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .right {
        background-color: #1B3AAD;
        padding: 40px 30px;
        color: white;

        span {
            font-weight: bold;
            font-size: 35px;

        }

        p {
            font-size: 14px;
            margin-top: 20px;

        }

    }

    .bottom {
        .country {
            background-color: #f6f9fc;
            padding: 20px 0;
            margin-bottom: 10px;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);

            h1 {
                color: #00adee;
            }

            span {
                font-size: 18px;
            }
        }
    }
}

.img-fade {
    transition: opacity 0.1s ease;
    opacity: 1;
}

.img-fade.fade-out {
    opacity: 0.6;
}