.video-introduce {
    // max-height: 800px;
    max-width: 2000px !important;
    margin: 0 auto;

    .btn-play {
        top: 40px;
        left: 40px;

        button {
            background-color: rgba(0, 0, 0, 0.8);
            border: none;
            outline: none;
            color: white;
            padding: 10px 10px;
        }
    }
}